<div id="<%= dom_id game_session %>">
  <p>
    <strong>Word:</strong>
    <%= game_session.word %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= game_session.score %>
  </p>

  <p>
    <strong>Done:</strong>
    <%= game_session.done %>
  </p>

</div>
