<h1>New game session for: <%=User.find_by(id: @game_session[:user_id])&.name %></h1>

<%= render "form", game_session: @game_session %>

<br>

<div>
  <%= link_to "Back to game sessions", game_sessions_path %>
</div>
